<a href="https://colab.research.google.com/github/roseleen-kaur/DataAnalytics_2022_Summer/blob/main/HomeWork2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Car Data##
###Number 1###

In [151]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/roseleen-kaur/DataAnalytics_2022_Summer/main/cars-sample35.csv', 
                 names = ['Price', 'Maintenance Cost', 'Number of Doors', 
                          'Number of Passengers', 'Luggage Capacity', 'Safetey Rating', 'Classification of Vehicle'])
df

,Price,Maintenance Cost,Number of Doors,Number of Passengers,Luggage Capacity,Safetey Rating,Classification of Vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc
5,low,high,2,2,small,low,unacc
6,med,med,4,more,med,high,vgood
7,low,low,3,2,big,med,unacc
8,vhigh,low,2,2,small,low,unacc
9,vhigh,high,4,4,med,low,unacc
10,low,low,2,2,med,med,unacc
11,vhigh,low,4,more,small,high,acc
12,high,low,2,4,big,med,acc
13,low,vhigh,3,more,big,low,unacc
14,high,low,5more,2,big,med,unacc
15,vhigh,high,2,more,med,high,unacc
16,med,med,2,2,small,low,unacc
17,high,low,5more,4,med,high,acc
18,low,low,3,more,med,high,vgood
19,low,low,2,2,big,med,unacc
20,med,high,4,2,big,high,unacc
21,low,low,2,2,small,high,unacc
22,vhigh,high,5more,4,med,med,unacc
23,med,vhigh,2,2,big,low,unacc
24,low,vhigh,4,4,big,low,unacc
25,vhigh,low,3,more,big,low,unacc
26,med,vhigh,3,4,small,low,unacc
27,high,high,3,4,med,med,unacc
28,low,high,5more,2,big,low,unacc
29,med,high,5more,2,med,med,unacc
30,high,low,3,4,med,high,acc
31,high,vhigh,5more,4,med,med,unacc
32,low,low,5more,2,med,low,unacc
33,vhigh,vhigh,4,2,big,high,unacc
34,high,low,3,2,big,high,unacc

###Question 2###
Extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. In other words, you should have lists of prices, maintenance costs, number of doors, etc.

In [152]:
#doing tolist() to make all the columns, lists
Price = df['Price'].tolist()
Maintenance_Cost = df['Maintenance Cost'].tolist()
Number_of_Doors = df['Number of Doors'].tolist()
Number_of_Passengers = df['Number of Passengers'].tolist()
Luggage_Capacity = df['Luggage Capacity'].tolist()
Safetey_Rating = df['Safetey Rating'].tolist()
Classification_of_Vehicle = df['Classification of Vehicle'].tolist()

print(f'Price {Price}')
print(f'Maintenance Cost \n {Maintenance_Cost}')
print(f'Number of Doors \n {Number_of_Doors}')
print(f'Number of Passengers \n {Number_of_Passengers}')
print(f'Luggage Capacity \n {Luggage_Capacity}')
print(f'Safetey Rating \n {Safetey_Rating}')
print(f'Classification of Vehicle \n {Classification_of_Vehicle}')

Price ['high', 'high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']
Maintenance Cost
 ['high', 'high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']
Number of Doors
 ['2', '4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']
Number of Passengers
 ['4', 'more', 'more', 'more', '2', '2', 'more', '2', '2', '4', '2', 'more', '4', 'more', '2', 'more', '2', '4', 'more', '2', '2', '2', '4', '2', '4', 'more', '4', '4', '2', '2', '4', '4', '2', '2', '2']
Luggage Capacity
 ['med', 'small', 'big', 'big', 'med', 'small', 'med', 'big', 'small', 'med', 'med', 'small', 'big', 'big', 'big', 'med', 'small', 'med', 'med', 'big', 'big', 'small', 'med', 'big', 'big', 'big', 'small', 'med', 'big', 'med', 'med', 'med', 'med', 'big', 'big']
Safetey Rating
 ['low', 'high', 'low', 'high', 'med', 'low', 'high', 'med', 'low', 'low', 'med', 'high', 'med', 'low', 'med', 'high', 'low', 'high', 'high', 'med', 'high', 'high', 'med', 'low', 'low', 'low', 'low', 'med', 'low', 'med', 'high', 'med', 'low', 'high', 'high']
Classification of Vehicle
 ['unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc']

###Question 3###
Find the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

In [ ]:
med_list = []
for x in range(len(Price)):
  if Price[x] == 'med':
    med_list.append(x)
print(f'Med List \n {med_list}')
# I checked the df again to make sure and the answer is correct

Med List
 [6, 16, 20, 23, 26, 29]

###Question 4###
Find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results

In [154]:
new_med_list = []
for x in range(len(Price)):
  if Price[x] == 'med':
    new_med_list.append(df['Number of Passengers'].values[x])
print(f'Med List \n {med_list}')
print(f'New Med List \n {new_med_list}')

Med List
 [6, 16, 20, 23, 26, 29]
New Med List
 ['more', '2', '2', '2', '4', '2']

###Question 5###
Find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

In [146]:
new_list = []
for i in range(len(Price)):
    if Price[i] == 'high' and Maintenance_Cost[i] != 'low':
        new_list.append(i)
print(new_list)

[0, 1, 2, 27, 31]

###Question 6###
Find the list index values of each automobile having a price rating of "med using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your result. Be sure to print your results to the screen.

In [133]:
med_price_list=[]
med_price_list =[[x for x in range(len(Price)) if Price[x] == 'med']]
print(med_price_list)

[[6, 16, 20, 23, 26, 29]]

###Question 7###
Find the "number of passengers" value for each auto having a "price" value of "med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [156]:
new_med_price_list=[]
new_med_price_list =[[df['Number of Passengers'].values[x] for x in range(len(Price))  if Price[x] == 'med'  ]]
print(new_med_price_list)

[['more', '2', '2', '2', '4', '2']]

###Question 8###
Find the index value for each automobile having a price value of "high" and a maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [145]:
#and Maintenance_Cost != 'low'
#for y in range(len(Maintenance_Cost))
new_list2=[]
new_list2 =[[x for x in range(len(Price)) if Price[x] == 'high' and Maintenance_Cost[x] != 'low']]
print(new_list2)

[[0, 1, 2, 27, 31]]

###Question 9###
Consider the following list of lists: nlist = [ [1, 2, 3], [‘A’, ‘B’, ‘C’], [4, 5], [‘D’, ‘E’] ]. Extract each individual element of the component lists contained within nlist and add them to a new list.  Do NOT use a nested for loop, use a list comprehension.

In [157]:
nlist = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ]
print(nlist)
#flattened the list
#got help from 
#https://www.programiz.com/python-programming/examples/flatten-nested-list
one_list = [num for sublist in nlist for num in sublist]
print(one_list)

[[1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E']]
[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']