<a href="https://colab.research.google.com/github/roseleen-kaur/DataAnalytics_2022_Summer/blob/main/TextProcessingHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TEXT PROCESSING HOMEWORK#
Roseleen Kaur

Using this:

"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

###Question 1###
Extract the numbers

In [3]:
import re
import pandas as pd
import numpy as np

text = "555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"
print(text)
#finding all numbers
nums = re.findall('[0-9]+', text)
print(f'Numbers: {nums}')

555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni
Numbers: ['555', '1239', '636', '555', '0113', '555', '6542', '555', '8904', '636', '555', '3226', '5553642']

###Question 2###
Extract the names

In [19]:
#extracting names
#these are just the names in the string, no titles
names = re.findall('[A-Za-z]{5,}', text)
print(names)

['Bernard', 'Lander', 'Hollingdorp', 'Donnatella', 'Fitzgerald', 'Scott', 'Martin', 'Luther', 'Snodgrass', 'Theodore', 'Carlamina', 'Scarfoni']

###Question 3###
Rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [110]:
#https://stackoverflow.com/questions/55194224/extract-names-from-string-with-python-regex
full_names = re.findall(r"[^()0-9-]+", text)
#https://stackoverflow.com/questions/3845423/remove-empty-strings-from-a-list-of-strings
#didn't know what function to use so i went online
fixed = [x for x in full_names if x.strip()]
print(fixed)
#here i turn it in to the vector list for question 4
fixed = pd.Series(fixed)
fixed
#can't figure out how to get it in proper name order

['Dr. Bernard Lander', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

0         Dr. Bernard Lander
1    Hollingdorp, Donnatella
2       Fitzgerald, F. Scott
3    Rev. Martin Luther King
4        Snodgrass, Theodore
5         Carlamina Scarfoni
dtype: object

###Question 4###
Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.

In [109]:
for x in range(len(fixed)): 
  x = [fixed.str.contains('Dr.'), fixed.str.contains('Rev.')]
print(x)

[0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool, 0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool]

###Question 5###
Construct a logical vector indicating whether a character has a middle/second name

In [108]:
#since i couldnt figure out how to get the names in order this wasn't 
#working out for me but i would do
for x in range(len(fixed)):
  x = fixed.str.contains(something to represent middle name)
print(x)

###Question 6 ###
Consider the HTML string 
<title>+++BREAKING NEWS+++<title>. 
We would like to extract the first HTML tag (i.e., “<title>”). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

In [114]:
string = "<title>+++BREAKING NEWS+++<title>"
yo = re.findall('<.+>',string)
print(yo)

['<title>+++BREAKING NEWS+++<title>']

When we used "<.+>" to extract “< title >” we get the whole entire string instead. That is because .+ means that is matches any characters, in the string

In [115]:
ya = re.findall('^.{7}',string)
ye = re.findall('^<title>',string)
# if you want to get the one at the end of the string
yi = re.findall('<title>$',string)
yu = re.findall('.{7}$',string)
print('^.{7}\t',ya,'\n^<title>',ye,'\n<title>$ ',yi,'\n.{7}$\t',yu)

^.{7}	 ['<title>']
^<title> ['<title>']
<title>$  ['<title>']
.{7}$	 ['<title>']

### Question 7 ###
Consider the string “(5-3)^2=5^2-2*5*3+3^2”. We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

In [100]:
equ =  "(5-3)^2=5^2-253+3^2"
find = re.findall('[^0-9=+*()]+', equ)
print(find)

['-', '^', '^', '-', '^']

This prints all of the characters in the string that are in =+*() list from the beginnging on or list not the string.

In [98]:
find2 = re.findall('[(0-9)\W]+', equ)
print(find2)

['(5-3)^2=5^2-253+3^2']